<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<% if @messages.any? %>
  <% @messages.each do |message| %>
    <%= message.to%>
    <%= message.from%>
    <%= message.body%>
  <% end %>
<% else %>
<h3>No messages</h3>
<% end %>


<%= link_to 'Add new message', new_message_path %>
